

html {
    font-size: 10px;
    background-image: url("https://i.ibb.co/TYvjwds/Migos.jpg");
    background-size: 100vh;;
  }
  
  body,html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  .keys {
    display: flex;
    flex: 1;a
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    margin-top: 40vh;
  }
  
  .key {
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: yellow;;
    text-shadow: 0 0 .5rem black;a
  }
  
  .playing {
    transform: scale(1.1);
    border-color: black;
    box-shadow: black;
  }
  
  kbd {
    display: block;
    font-size: 4rem;
  }
  
  .sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: black;
  }

  .migosPics {
    display: flex;
    flex-direction: row;
    height: 250px;
    background-position: center;
    margin: 0 auto;
    justify-content: center;
    margin-right: 200px;
    margin-top: 100px;
  }

  #quavo, #takeoff, #offset{
    margin-left: 100px;
    animation-name: quavo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }

  @-webkit-keyframes quavo {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transform-origin: 100%;
      transform-origin: 100%;
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
      -webkit-transform-origin: 100%;
      transform-origin: 100%;
    }
  }


  #takeoff {
    margin-left: 100px;
  }

  #offset {
    margin-left: 100px;
  }